In [1]:
from dataset_generation import *

In [2]:
dataframe = generate_dataset(length=500, name_errors=0.2, missing_errors=0.8, category_errors=0.25,
                             height_errors=0.15, salary_errors=0.07)

In [3]:
dataframe

,Name,Missing,Category,Height,Salary,Date,Country,Email,Strange
0,Michael,NaN,Classic,NaN,102000,9 1956-7,France,23u0z.3eQa4@gmail.com,5LQSiFPRYr
1,Richard,34.0,Special,1.91,123000,9 2008-4,USA,qgE9v.uxPNl@laposte.net,UXNBOAaNYU
2,Robert,NaN,Regular,1.46,137000,8 1981-22,USA,cxy1Z.kcGUw@gmail.com,jAbvHLERPI
3,Thomas,NaN,Special,1.86,96000,3 1957-16,USA,ERI0z.Srn6g@darkmagic,hWwqA83JxT
4,NaN,NaN,Special,1.46,129000,11 2018-29,USA,FRZvK.6CekI@gmail.com,N0y7iz5RsD
5,Jessica,53.0,Regular,2.05,46000,9 2009-2,China,eSUPE.wqEMM@gmail.com,KwvriB6rVS
6,Margaret,74.0,NaN,1.95,77000,11 1995-21,South Africa,GJBTX.rFjEY@gmail.com,htTZAh3gIi
7,James,77.0,Special,NaN,483000,1 2004-1,South Africa,s8hv6.FTnlR@gmail.com,OjBK96YAzs
8,Joseph,NaN,Classic,1.88,104000,9 1979-8,Fr,J4fUI.FIMml@hotmail.com,Q9KJdf1snP
9,David,NaN,Special,1.52,116000,1 1962-29,SAF,ZNYjx.pdReH@gmail.com,T0MteoRha5
10,NaN,NaN,Regular,1.78,142000,3 1969-1,SAF,xYMDw.0wC2J@gmail.com,2chRsGBnqW
11,Mary,NaN,Regular,1.93,63000,8 2000-10,China,KJNYE.97quB@gmail.com,lALUak3kuN
12,Charles,NaN,NaN,1.75,477000,10 2002-18,USA,91Ckg.9xcBB@hotmail.com,m2IfzUu7dH
13,Michael,NaN,Regular,1.55,101000,10 1963-2,Fr,JXcsR.QRpu8@gmail.com,eg0ssmkgbi
14,Patricia,NaN,Classic,NaN,488000,1 2002-16,SAF,jrPFm.zGTYO@test.xxx,htnR4rM6A8
15,Linda,NaN,NaN,NaN,67000,5 1989-14,France,luqLq.LRi0y@hotmail.com,oTFslS7aI8
16,Jessica,NaN,Special,2.10,487000,2 1961-14,South Africa,sxmtL.8FB7o@hotmail.com,6ra7iPc3Hv
17,Richard,12.0,null,NaN,121000,1 1962-18,France,ddPIT.r9DZU@laposte.net,VQOJzsClQR
18,Susan,NaN,???,1.56,139000,1 1993-12,brUsil,1pENP.AEGab@gmail.com,LPoZMpclLs
19,Margaret,NaN,NaN,1.87,121000,6 2004-22,SAF,Vib2u.Ooo5I@hotmail.com,AXj6wxkGAt
20,Jennifer,73.0,Special,2.06,117000,7 1972-17,China,1V3As.tImpK@gmail.com,wq1m3KokSU
21,NaN,75.0,Regular,1.65,117000,9 1953-19,China,AXPUE.39z5g@laposte.net,zBPQ7ac0Rv
22,Jennifer,NaN,Regular,1.55,72000,3 1989-5,China,w2LpN.EZxld@hotmail.com,l1hmA8fVac
23,David,NaN,Regular,1.81,53000,3 2002-28,South Africa,Ub0WR.RbHHZ@gmail.com,LYE1YlllLQ
24,Charles,NaN,Classic,1.90,70000,5 1982-28,China,N3D7w.zlVps@laposte.net,TLYWDg6nyD
25,David,NaN,Regular,2.09,139000,8 1980-28,China,auRlS.VmWwi@hotmail.com,clkpqyJYLv
26,NaN,NaN,???,1.72,39000,11 1979-28,CHinA,2XksA.v1Vnn@hotmail.com,5KoTyCex37
27,NaN,NaN,Special,1.67,37000,2 1978-21,USA,ksxeT.FmpKh@hotmail.com,CodD9e560k
28,NaN,NaN,Special,1.64,50000,4 1995-23,South Africa,sYmK9.nytct@gmail.com,3Z95ZmJZho
29,Robert,NaN,Classic,1.84,105000,7 1979-22,Brasil,CTrMh.0Itkr@gmail.com,fsqv0kjF6m
...,...,...,...,...,...,...,...,...,...
470,Richard,NaN,Regular,2.03,84000,6 1977-9,Brasil,HHoaQ.7EvJk@weneverknow.com,gU3Yzcodun
471,Sarah,NaN,null,1.66,469000,4 1966-26,France,P6Ryw.y3UxI@hotmail.com,nc6ELoLRMI
472,John,NaN,Regular,1.60,81000,10 2001-8,China,kRP9a.DCVVR@gmail.com,atvmbyTNfp
473,Charles,NaN,Special,1.89,125000,1 1980-7,USA,MSXaP.Iarq7@gmail.com,ctj9YVVETL
474,Elizabeth,48.0,UNKWN,1.53,35000,1 1971-16,South Africa,gtG8l.wOPOf@hotmail.com,jdwrs8QFnm
475,NaN,92.0,null,1.78,82000,5 1976-21,South Africa,kih5O.OwPIt@hotmail.com,LTnvZiQhDX
476,Barbara,NaN,???,NaN,496000,8 1952-2,CHinA,mpFAv.wXYJf@gmail.com,uhETORCWpk
477,Patricia,NaN,UNKWN,1.77,120000,5 1985-23,Fr,v2kpl.ho4G6@gmail.com,lKtMCHhCnA
478,Barbara,NaN,Classic,1.97,130000,2 1981-15,CHinA,DObAp.OyroA@gmail.com,fHDrizm1Bn
479,Linda,NaN,null,1.67,66000,2 1955-10,China,B1izm.zxyn3@gmail.com,zuRzOZTBmy
480,William,69.0,Classic,1.68,41000,10 2004-29,USA,CrNp3.T3Vh5@darkmagic,c8lgk4aRtm
481,Elizabeth,55.0,null,NaN,62000,7 1975-12,SAF,40jzm.vsEPl@gmail.com,kWmkZ0yCgG
482,Michael,NaN,Special,1.76,46000,10 2003-13,South Africa,lvYYY.T50Ay@gmail.com,6JQqZnzTrs
483,John,NaN,Regular,NaN,92000,7 2015-25,China,lKIH1.PmO9S@test.xxx,aSFjyc7i1Z
484,Charles,NaN,Regular,1.56,131000,3 1979-16,brUsil,3xxj2.HF8O0@gmail.com,KZhpGdlg8T
485,Joseph,NaN,Classic,2.10,81000,7 2013-20,South Africa,Ij5Op.nKdJ2@hotmail.com,h2BzNKfoK0
486,Mary,94.0,Special,1.63,143000,1 1967-17,France,reqAd.n1ANZ@laposte.net,DRKZ0uQqcg
487,NaN,NaN,Classic,NaN,88000,10 1969-19,South Africa,BtmD5.Bq6Z8@laposte.net,Mf9yR8urUJ
488,Richard,NaN,Regular,2.04,124000,3 1986-19,Brasil,ryZlQ.0IxfJ@laposte.net,VJ882nZ7KO
489,Mary,24.0,Regular,NaN,103000,8 1960-17,South Africa,W7lxc.JnGMN@laposte.net,UTWUzb4pXB
490,Mary,NaN,Classic,1.48,35000,5 2011-21,South Africa,1GPAA.Z0egX@gmail.com,RWBvcteA3d
491,John,NaN,Classic,1.85,91000,6 1984-19,brUsil,jTW8I.jsDpr@laposte.net,6fDpQ5EgYn
492,James,NaN,Special,1.93,107000,11 1995-29,brUsil,9t38c.0EjQY@laposte.net,PbtbCCKH94
493,Patricia,36.0,Classic,1.95,119000,2 1967-11,USA,GHt3x.XNbUO@gmail.com,7LrqfkRUiY
494,Jessica,NaN,Special,1.75,140000,11 2007-14,China,D3Sn5.6dMdA@hotmail.com,JxtV0JXX5j
495,Richard,NaN,Special,1.55,66000,9 1995-21,South Africa,OYI7R.uzfIo@hotmail.com,TZseiWNZre
496,Jessica,NaN,null,1.93,128000,5 2000-19,CHinA,rVfRk.umFp6@laposte.net,wPdrAqAxDR
497,Jennifer,NaN,Special,1.51,69000,8 1980-27,CHinA,Vi2FZ.5yyTa@laposte.net,CPTCMR1umM
498,Margaret,NaN,Special,1.50,45000,2 1965-25,SAF,v0Cc7.t2MdU@hotmail.com,ebP6U7iqVB
499,Sarah,NaN,NaN,1.61,89000,8 1991-1,France,CuMKS.yIeir@hotmail.com,NLwUPtxCOD

## 1/ Strange feature deletion

Sometimes, there are features in your data that seem relatively strange, and in some cases that are really hard to understand or apprehend. They can be useless features, and to avoid wrong interpretations later in your analysis, deleting this strange feature can be an option.

In my dataset, I voluntarily created a **Strange** feature, to showcase the ability to prepare your data and continue your analysis on an appropriate perimeter of data.

In [4]:
# Look at the first few lines of the dataset to get a sense of data
dataframe.head()

,Name,Missing,Category,Height,Salary,Date,Country,Email,Strange
0,Michael,NaN,Classic,NaN,102000,9 1956-7,France,23u0z.3eQa4@gmail.com,5LQSiFPRYr
1,Richard,34.0,Special,1.91,123000,9 2008-4,USA,qgE9v.uxPNl@laposte.net,UXNBOAaNYU
2,Robert,NaN,Regular,1.46,137000,8 1981-22,USA,cxy1Z.kcGUw@gmail.com,jAbvHLERPI
3,Thomas,NaN,Special,1.86,96000,3 1957-16,USA,ERI0z.Srn6g@darkmagic,hWwqA83JxT
4,NaN,NaN,Special,1.46,129000,11 2018-29,USA,FRZvK.6CekI@gmail.com,N0y7iz5RsD

In [5]:
# Drop the "Useless" feature of the dataset
dataframe = dataframe.drop(['Strange'], axis=1)

In [6]:
# Have another look on the data without the useless feature that has been deleted
dataframe.head()

,Name,Missing,Category,Height,Salary,Date,Country,Email
0,Michael,NaN,Classic,NaN,102000,9 1956-7,France,23u0z.3eQa4@gmail.com
1,Richard,34.0,Special,1.91,123000,9 2008-4,USA,qgE9v.uxPNl@laposte.net
2,Robert,NaN,Regular,1.46,137000,8 1981-22,USA,cxy1Z.kcGUw@gmail.com
3,Thomas,NaN,Special,1.86,96000,3 1957-16,USA,ERI0z.Srn6g@darkmagic
4,NaN,NaN,Special,1.46,129000,11 2018-29,USA,FRZvK.6CekI@gmail.com

After deleting the `Strange` feature I was not interested in, I just have a look at my dataset to check the proper deletion of this feature, and continue my Data Cleaning process.

## 2/ Missing values as a special category

In this part, I will study the different values that take the **Category** feature of my dataset.

I quickly detect there are a few values that are taken and that represent a missing or an invalid value for the category. Therefore, I want to treat all these different values as a single and unique representation of the missing value concept : affect them all to the same category that I can myself rename `Unknown`.

In [7]:
# Check the different values taken by data for the Category feature
dataframe['Category'].value_counts()

Classic    128
Special    127
Regular    120
null        39
NaN         35
???         26
UNKWN       25
Name: Category, dtype: int64

In [8]:
# Replace data missing values for the Category feature by a single and dedicated value
dataframe['Category'].replace(['NaN', 'null', 'UNKWN', '???'], ['Unknown']*4, inplace=True)

In [9]:
# Check the different values taken by data for the Category feature, after missing category cleaning process
dataframe['Category'].value_counts()

Classic    128
Special    127
Unknown    125
Regular    120
Name: Category, dtype: int64

After having checked my transformed dataset with this single missing value for the Category feature, I will be able to process this feature later on knowing it can take values I had a glance on (`Classic`, `Regular`, `Special`), or the `Unknown` missing value.

## 3/ Fixing spelling mistakes with known correct values

There is a **Country** feature in my dataset that contains a few country names, but some of them are sometimes spelled or written in a strange way. That can totally happen in real life when you collect data from multiple sources and these sources do not have the same software/language references.

Then, I will try to understand the misspelled values and replace them by a uniformed writting.

In [10]:
# Check the different values taken by data for the Country feature
dataframe['Country'].value_counts()

South Africa    81
France          78
China           76
Brasil          70
USA             60
SAF             36
brUsil          27
CHinA           26
Fr              24
uSa             22
Name: Country, dtype: int64

As we can see in the different values that can take the Country feature, there are few ones that misspelled or abstracted, but we can guess the name of the real country behind it. For example, *Fr* probably means *France*, *CHinA* and *uSa* is of course a misspelling, *SAF* in an abstraction of *South Africa* and *brUsil* is totally a mistake in data.

In [11]:
# Replace misspelled and erroneous values for the Country feature by a known correct values
dataframe['Country'].replace(['SAF', 'Fr', 'CHinA', 'uSa', 'brUsil'],
                             ['South Africa', 'France', 'China', 'USA', 'Brasil'], inplace=True)

In [12]:
# Check the different values taken by data for the Country feature, after fixing misspelled values
dataframe['Country'].value_counts()

South Africa    117
China           102
France          102
Brasil           97
USA              82
Name: Country, dtype: int64

With this spellchecking and fixing step of the Data Cleaning process, we now clearly see the different countries involved in the dataset, with no surprising or confusing values.

## 4/ Mean filling for missing values

The **Height** feature of the dataset miss a few values, but not a large amount. In order to analyse the data without deleting too much information, it can be clever in some cases to replace missing values in numerical features by the mean of this feature.

There are not too much outliers in this feature, so replacing missing values by the mean can be a good choice.

In [13]:
# Check the proportion of null values in the Height feature
height_null_values = sum(dataframe['Height'].isnull() == True)
height_notnull_values = sum(dataframe['Height'].isnull() == False)
print("Height feature has {} null values and {} not null values !".format(height_null_values, height_notnull_values))

Height feature has 75 null values and 425 not null values !

In [14]:
# Compute the mean value of the Height feature in the dataset, and replace missing values with it
height_mean_value = round(dataframe["Height"].mean(), 2)
dataframe['Height'].fillna(height_mean_value, inplace=True)

In [15]:
# Check the proportion of null values in the Height feature after mean filling
height_null_values = sum(dataframe['Height'].isnull() == True)
height_notnull_values = sum(dataframe['Height'].isnull() == False)
print("Height feature has {} null values and {} not null values !".format(height_null_values, height_notnull_values))

Height feature has 0 null values and 500 not null values !

Once the `Height` feature missing values have been replaced with the mean value, you shall heterogeneous set of values on this feature to do further analysis.

## 5/ Useless observations deletion

The **Name** feature, in my dataset example, serves as an identifier of each observation. We can face cases with real world data, where these identifiers are not filled. There are a bunch of data available, but we cannot link them to a defined indentifier, a specific object or individual.

This generally means whathever the analysis you will make on your data, you will be blocked at some point for some cases where you need to identify a data point. Thus, it is sometimes useful to delete these points for some specific analysis.

In [16]:
# Check the proportion of null values in the Name feature
name_null_values = sum(dataframe['Name'].isnull() == True)
name_notnull_values = sum(dataframe['Name'].isnull() == False)
print("Name feature has {} null values and {} not null values !".format(name_null_values, name_notnull_values))

Name feature has 100 null values and 400 not null values !

In [17]:
# Delete observations where Name feature value is missing
dataframe = dataframe.dropna(subset=['Name'])

In [18]:
# Check the proportion of null values in the Name feature after mean filling
name_null_values = sum(dataframe['Name'].isnull() == True)
name_notnull_values = sum(dataframe['Name'].isnull() == False)
print("Name feature has {} null values and {} not null values !".format(name_null_values, name_notnull_values))

Name feature has 0 null values and 400 not null values !

Deleting observations that have missing values for the `Name` feature shall reduce your dataset size, but help you to do identification and relationships analysis easier.

## 6/ Useless feature deletion

There is a **Missing** feature in my dataset that, like its name indicates, misses a large amount of data. When a feature lacks information on the majority of the data points, this means this feature does not really bring something interesting to the analysis done later on.

In this case, this feature is considered useless and better be deleted.

In [19]:
# Check the few first lines of the dataset and especially the Missing feature values
dataframe.head()

,Name,Missing,Category,Height,Salary,Date,Country,Email
0,Michael,NaN,Classic,1.78,102000,9 1956-7,France,23u0z.3eQa4@gmail.com
1,Richard,34.0,Special,1.91,123000,9 2008-4,USA,qgE9v.uxPNl@laposte.net
2,Robert,NaN,Regular,1.46,137000,8 1981-22,USA,cxy1Z.kcGUw@gmail.com
3,Thomas,NaN,Special,1.86,96000,3 1957-16,USA,ERI0z.Srn6g@darkmagic
5,Jessica,53.0,Regular,2.05,46000,9 2009-2,China,eSUPE.wqEMM@gmail.com

In [20]:
# Drop the "Missing" feature of the dataset
dataframe = dataframe.drop(['Missing'], axis=1)

In [21]:
# Look back at the dataset with Missing feature deleted
dataframe.head()

,Name,Category,Height,Salary,Date,Country,Email
0,Michael,Classic,1.78,102000,9 1956-7,France,23u0z.3eQa4@gmail.com
1,Richard,Special,1.91,123000,9 2008-4,USA,qgE9v.uxPNl@laposte.net
2,Robert,Regular,1.46,137000,8 1981-22,USA,cxy1Z.kcGUw@gmail.com
3,Thomas,Special,1.86,96000,3 1957-16,USA,ERI0z.Srn6g@darkmagic
5,Jessica,Regular,2.05,46000,9 2009-2,China,eSUPE.wqEMM@gmail.com

When a useless feature is deleted, models and statistics used on the dataset get more precise because they are not perturbated anymore by a lot of incorrected or missing data. It is really important to focus solely on data that has interest.

## 7/ Median filling for erroneous values

The **Salary** feature of the dataset has a few values that do not seem plausible, they may be an error. When data is missing or is irrelevant in a numerical feature, and this numerical feature has potentially large outliers in it, replacing the data by the median instead of the mean can be more appropriate.

I voluntarily genertated great outliers, and I want to show how we can replace them by the median of the feature.

In [22]:
max_salary = max(dataframe['Salary'])
min_salary = min(dataframe['Salary'])
mean_salary = math.ceil(round(dataframe['Salary'].mean(), 0))
median_salary = math.ceil(dataframe['Salary'].median())
print("Salary feature : max={}, min={}, mean={}, median={}".format(max_salary, min_salary, mean_salary, median_salary))

Salary feature : max=498000, min=30000, mean=111612, median=85500

In [23]:
# Compute the mean value of the Height feature in the dataset, and replace missing values with it
max_salary_no_outlier = mean_salary = math.ceil(round(dataframe['Salary'].mean() * 2.5, 0))
dataframe = dataframe.reset_index()
high_salary_indices = dataframe[(dataframe["Salary"] > max_salary_no_outlier)].index
dataframe.iloc[high_salary_indices, [dataframe.columns.get_loc('Salary')]] = median_salary

In [24]:
max_salary = max(dataframe["Salary"])
min_salary = min(dataframe["Salary"])
mean_salary = math.ceil(round(dataframe["Salary"].mean(), 0))
median_salary = math.ceil(dataframe["Salary"].median())
print("Salary feature : max={}, min={}, mean={}, median={}".format(max_salary, min_salary, mean_salary, median_salary))

Salary feature : max=144000, min=30000, mean=84125, median=85250

Once the `Salary` feature outliers have been replaced with the median value, further analysis shall be more precise and interesting.

## 8/ Dates wrong formatting

There are often dates type features in datasets, in mine we can find the evident **Date** feature. Dates features often present bad formatting according countries, times, or sources where we got your data from. It is vital to clean dates features especially on a uniform form, throughout your feature, and throughout your entire dataset.

I invented a confusing representation of dates in my artificially generated dataset, that I need to cleanse.

In [25]:
# Check the first few lines of the dataset, to have a look on the dates format of my Date feature
dataframe.head()

,index,Name,Category,Height,Salary,Date,Country,Email
0,0,Michael,Classic,1.78,102000,9 1956-7,France,23u0z.3eQa4@gmail.com
1,1,Richard,Special,1.91,123000,9 2008-4,USA,qgE9v.uxPNl@laposte.net
2,2,Robert,Regular,1.46,137000,8 1981-22,USA,cxy1Z.kcGUw@gmail.com
3,3,Thomas,Special,1.86,96000,3 1957-16,USA,ERI0z.Srn6g@darkmagic
4,5,Jessica,Regular,2.05,46000,9 2009-2,China,eSUPE.wqEMM@gmail.com

In [26]:
# Transform the whole feature into a real datetime format, precising the data input format provided
dataframe['Date'] = pd.to_datetime(dataframe['Date'], format="%m %Y-%d")

In [27]:
# Check the good transformation of dates format in the dataset
dataframe.head()

,index,Name,Category,Height,Salary,Date,Country,Email
0,0,Michael,Classic,1.78,102000,1956-09-07,France,23u0z.3eQa4@gmail.com
1,1,Richard,Special,1.91,123000,2008-09-04,USA,qgE9v.uxPNl@laposte.net
2,2,Robert,Regular,1.46,137000,1981-08-22,USA,cxy1Z.kcGUw@gmail.com
3,3,Thomas,Special,1.86,96000,1957-03-16,USA,ERI0z.Srn6g@darkmagic
4,5,Jessica,Regular,2.05,46000,2009-09-02,China,eSUPE.wqEMM@gmail.com

Now my dates format have been cleansed in the `Date` feature, we should have a better view of dates in the dataset.

## 9/ Strange obervations deletion

On some features of a dataset, strange values may sometimes appear, and it is difficult to understand whether it is a normal value or a harmful, confusing and non intentional value (that could have been introduced in the process). In the case of my **Email** feature, a very strange or non comprehensive email suffix can mean a lot of things.

In this context, I will show how to delete these observations to protect the dataset and run only meaningfull analysis on verified individuals.

In [28]:
# Check all the existing email suffices in the initial dataset
email_suffices = pd.DataFrame({"Suffices": dataframe["Email"].str.split("@", expand=True)[1]})
email_suffices["Suffices"].value_counts()

gmail.com          183
hotmail.com        102
laposte.net         82
test.xxx            18
darkmagic           11
weneverknow.com      4
Name: Suffices, dtype: int64

In [29]:
# Retrieve indices of observations with harmful email suffices and delete them
harmful_email_indices = email_suffices[(email_suffices['Suffices'] == 'darkmagic')
                                       | (email_suffices['Suffices'] == 'test.xxx')
                                       | (email_suffices['Suffices'] == 'weneverknow.com')].index
dataframe.drop(harmful_email_indices, inplace=True)

In [30]:
# Check whether the deletion of observations with harmful email suffices worked 
email_suffices = pd.DataFrame({"Suffices": dataframe["Email"].str.split("@", expand=True)[1]})
email_suffices["Suffices"].value_counts()

gmail.com      183
hotmail.com    102
laposte.net     82
Name: Suffices, dtype: int64

Now the few potentially harmful `Email` addresses have been deleted, we are narrowing our individuals with interesting data and trustable information.