In [1]:
from dataset_generation import *

In [2]:
dataframe = generate_dataset()

In [3]:
dataframe

    Height    Date     Useless
0     1.73  1970.0  vN7DLjpcxM
1     1.87  1979.0  LSUfVGge7F
2     2.01  1999.0  m3A8oew8zu
3     1.59  1954.0  p0rBjjzCf3
4     1.68  1954.0  A9TlHrUTTK
5     1.87  1952.0  fQZlrfpDWR
6     1.96  2015.0  7CizyzhHNo
7     1.69  1998.0  d7EPy0JCB3
8     2.04  1966.0  g7AzoY75Sc
9     1.53  2019.0  O56TghZ2Gr
10    1.78  1980.0  JWdxOWTkpR
11    1.74  2000.0  r5AR5M3seJ
12    1.73  1971.0  QzAgBkZi9t
13    1.64  1963.0  VgNlS9mkQS
14    1.89  1952.0  7hkLjWF3Do
15    1.47  1994.0  lCcejzjDvY
16    1.59  1976.0  UhtAPsWCls
17    1.75  1977.0  kBXmG3fz5w
18    1.71  2000.0  ucW4HIGScG
19    1.46  1990.0  VYxxy5CpVn
20    1.51  1985.0  agtV68FHsi
21    1.75  1959.0  pq4QXlPNBo
22    2.04     NaN  Bxv6p1FyZW
23    1.74     NaN  VNjWrJfS1e
24    2.00  2014.0  Ihqnzmfw3q
25    1.76     NaN  AEmBn8YU1B
26    1.68  1985.0  goFup9w1BD
27    1.45  1954.0  eETGXijhWg
28    2.03  2010.0  R0AYIerB97
29    1.50  1990.0  5KGZd3x9j3
30    1.95  1974.0  sCMb4zu1sO
31    1.53  1985.0  KF57S306o1
32    2.09  2006.0  wMacXkz1mZ
33    1.79  1969.0  oEmzIxfcfz
34    2.04  2016.0  LQ8TeHOSfh
35    1.68  1999.0  IDvAfZQ7Fp
36    1.68  1979.0  FQXiud6vVR
37    1.99  1954.0  183iEqVVK1
38    2.09  2017.0  nk4P274etO
39    1.74  1986.0  YA7v7582U0
40    1.58  1964.0  SRBcaW2ApZ
41    1.57  2002.0  UsVOda4GO3
42    1.79  2007.0  ZXVGKUPb12
43    1.55     NaN  0fLNElV6rS
44    1.70     NaN  9MployHutD
45    1.99  1996.0  SIO9xpoZ5x
46    1.47  2013.0  lTqXGi1XBj
47    1.95  1990.0  1opZykTYbA
48    1.71  1970.0  WtmDpBS3RJ
49    2.09  2001.0  YPG3ykTUgN