In [1]:
from dataset_generation import *

In [2]:
dataframe = generate_dataset()

In [3]:
dataframe

      Date
0   1961.0
1   1951.0
2   1952.0
3   2009.0
4   2017.0
5   1991.0
6   1978.0
7   2015.0
8   1980.0
9   1952.0
10  1986.0
11     NaN
12     NaN
13  1967.0
14     NaN
15  1989.0
16  2017.0
17  1965.0
18  2019.0
19  1976.0
20     NaN
21  1968.0
22  2007.0
23  2012.0
24  1974.0
25  1963.0
26  2000.0
27  1986.0
28  1957.0
29  1992.0
30  1997.0
31  2008.0
32  2002.0
33  1964.0
34  1960.0
35  1972.0
36  2002.0
37  2013.0
38  1975.0
39  1952.0
40  1984.0
41  2003.0
42  2017.0
43  1996.0
44     NaN
45  1952.0
46  1977.0
47  2019.0
48  1971.0
49  2012.0

In [4]:
dataframe.Date

0     1961.0
1     1951.0
2     1952.0
3     2009.0
4     2017.0
5     1991.0
6     1978.0
7     2015.0
8     1980.0
9     1952.0
10    1986.0
11       NaN
12       NaN
13    1967.0
14       NaN
15    1989.0
16    2017.0
17    1965.0
18    2019.0
19    1976.0
20       NaN
21    1968.0
22    2007.0
23    2012.0
24    1974.0
25    1963.0
26    2000.0
27    1986.0
28    1957.0
29    1992.0
30    1997.0
31    2008.0
32    2002.0
33    1964.0
34    1960.0
35    1972.0
36    2002.0
37    2013.0
38    1975.0
39    1952.0
40    1984.0
41    2003.0
42    2017.0
43    1996.0
44       NaN
45    1952.0
46    1977.0
47    2019.0
48    1971.0
49    2012.0
Name: Date, dtype: float64