In [1]:
from dataset_generation import *

In [2]:
dataframe = generate_dataset()

In [3]:
dataframe.head()

,Name,Missing,Category,Height,Salary,Date,Country,Email,Useless
0,Robert,NaN,Classic,1.98,48000,6 2014-27,Brasil,fJGdk.oKBCF@gmail.com,DTyR1FM7zf
1,John,NaN,Classic,1.74,41000,6 2009-1,France,tZahd.p4LGe@gmail.com,nhOkhJwHzH
2,Charles,NaN,Special,1.57,115000,4 1993-20,USA,bzGXe.9m0k3@test.xxx,xaAAw7tXb9
3,Robert,NaN,null,1.63,106000,4 1998-4,China,AUalw.wTJQk@hotmail.com,qB1oQ3gwsf
4,NaN,85.0,Regular,2.01,107000,10 1964-4,Brasil,RJwnQ.8W8kC@darkmagic,yuiVdqHge7

## 1/ Missing values as a special category

In this part, I will study the different values that take the **Category** feature of my dataset.

I quickly detect there are a few values that are taken and that represent a missing or an invalid value for the category. Therefore, I want to treat all these different values as a single and unique representation of the missing value concept : affect them all to the same category that I can myself rename `Unknown`.

In [4]:
# Check the different values taken by data for the Category feature
dataframe['Category'].value_counts()

Regular    15
Classic    12
Special    11
???         5
null        4
NaN         2
UNKWN       1
Name: Category, dtype: int64

In [5]:
# Replace data missing values for the Category feature by a single and dedicated value
dataframe['Category'].replace(['NaN', 'null', 'UNKWN', '???'], ['Unknown']*4, inplace=True)

In [6]:
# Check the different values taken by data for the Category feature, after missing category cleaning process
dataframe['Category'].value_counts()

Regular    15
Classic    12
Unknown    12
Special    11
Name: Category, dtype: int64

After having checked my transformed dataset with this single missing value for the Category feature, I will be able to process this feature later on knowing it can take values I had a glance on (`Classic`, `Regular`, `Special`), or the `Unknown` missing value.