In [1]:
from dataset_generation import *

In [2]:
dataframe = generate_dataset()

In [3]:
dataframe

    Height    Date       Country     Useless
0     1.86     NaN        Brasil  L5tRSzk2DX
1     1.98  1952.0        Brasil  DyDtA1IEBB
2     1.93  2011.0           USA  SujMc1takZ
3     2.09  2018.0        Brasil  HQ9mFmT6Do
4     1.57  1977.0         CHinA  EJkmr46Obg
5     1.57  2012.0        Brasil  DpOsD7meCP
6      NaN  1974.0        brUsil  SWwlfg9Ohl
7     1.58  2017.0           USA  Z5wzGy38sk
8      NaN  2002.0        Brasil  gpttwsfesi
9     2.08  1974.0  South Africa  OLQGF8cJvE
10     NaN     NaN           USA  FjWiRbKEL4
11     NaN     NaN        France  JJ5Wj6s3OC
12    1.53  2017.0        France  FvFWNMKpFQ
13    1.53  1994.0         China  5JAQpTT6qW
14    1.83  2012.0        France  9rcSAZI8Z1
15    1.48  1976.0         China  kheC8byjhq
16    1.72  1988.0        France  NMVa1Xr5z6
17    2.04  1984.0        Brasil  9TgSdISmGJ
18    1.92  1983.0        France  I8bjvPM2SA
19    1.89  1971.0           SAF  GCHVwjWemk
20    1.81  1981.0           USA  DC1bSQVjsQ
21    1.82  1980.0         China  Gw1YW0pgne
22    1.83  1961.0         China  zV3ibdTFsh
23    1.75  1969.0        France  csVVHMeqNX
24    1.97  1950.0           SAF  zZysAQoiHk
25    2.07  2005.0        France  EYIvam3D9l
26    1.75  1970.0           uSa  ttEDMw0utE
27    1.55  1990.0         CHinA  aYjX2ImdtR
28    1.71  1974.0           USA  NLIj1YjFTB
29     NaN  1993.0  South Africa  ozYnjQHklM
30    1.70  1993.0        France  82mOY9Zktg
31    2.03  1992.0        Brasil  k1PSDyWa18
32    1.59  2012.0        France  MSUIv71l44
33    1.70  1977.0           USA  wWYBBIvvhA
34    1.69  1990.0  South Africa  MZdsG7TYJU
35    1.93  1958.0        France  GT6tCrjpJa
36     NaN  1958.0        France  n4SrM3lNcC
37    1.74     NaN        France  xltvTIigoq
38     NaN  2006.0         China  R5zGYfutPr
39    1.59  1977.0        France  qYLC6d67km
40    1.46  1991.0           uSa  9Scz8V3TTM
41    1.91  1967.0         China  LZNUF6iCe0
42    1.66  2007.0           SAF  eEswx7F94E
43    1.50  2014.0        Brasil  8iZmIRwyO9
44    1.63     NaN  South Africa  rgb3MPpfYH
45    2.02  2011.0            Fr  Z2WXK12f7a
46    1.55  1994.0           SAF  dTWXCThzNx
47    2.09  1957.0           USA  TeprxB80ad
48    2.03  1982.0  South Africa  cbLkuEtfdi
49    1.48  1959.0         CHinA  NiKquHauwZ